@import "../foundation-master/scss/foundation.scss";
@import "../foundation-master/scss/normalize.scss";

/*.section .title {
  width: 33.33%;
}

dl dt {
  float:left;
}

h3.temperature {
  font-size: 8em;
  margin: 0;
}

#autocomplete {
  font-size: 18px;

}

#mainTitle {
  font-size: 30px;
  font-weight: bold;
  color: #016091;
  float: left;
}

.cityTitle {
  float: left;
  font-size: 18px;
  font-weight: 200;
}

.mainContent {
  padding: 0;
}*/

#logo {
  text-align: right;
}

a {
    color: #96C5D6;
  }
a.selected {
    color: #005370;
  }

.floatLeft {
  float: left;
  margin-right:1.1em;
}

.floatRight {
  float: right;

}

#ubcLink {
  display: none;
}

/*#athensTitle, #athens {
  display: none;
}*/

#vancouver, #ubc, #athens {
  clear:both;
}

h1 {
  margin-bottom: 0;
}

#athensTitle {
  color: #005370;
}

.title a img {
  opacity: 0.6;
}