@import "../foundation-master/scss/foundation.scss";
@import "../foundation-master/scss/normalize.scss";

/*.section .title {
  width: 33.33%;
}*/

dl dt {
  float:left;
}

h3.temperature {
  font-size: 8em;
  margin: 0;
}