@import "../foundation-master/scss/foundation.scss";
@import "../foundation-master/scss/normalize.scss";

/*.section .title {
  width: 33.33%;
}*/

dl dt {
  float:left;
}

h3.temperature {
  font-size: 8em;
  margin: 0;
}

#autocomplete {
  font-size: 18px;

}

#mainTitle {
  font-size: 30px;
  font-weight: bold;
  color: #016091;
  float: left;
}

.cityTitle {
  float: left;
  font-size: 18px;
  font-weight: 200;
}

#addButton {
  color: #555;
  float: right;

  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.mainContent {
  padding: 0;
}

#logo {
  text-align: right;
}

a {
    color: #96C5D6;
  }
a.selected {
    color: #005370;
  }

.floatLeft {
  float: left;
  margin-right:1em;
}