@import "../foundation-master/scss/foundation.scss";
@import "../foundation-master/scss/normalize.scss";

.greyBox{
	border: solid 1px #ccc;
	background-color:#EEE;
}

#floatingSidebar{/*
    position:fixed;
    top:50px;
    left:0;
    width:100px;
    height: 300px;*/
    border: solid 1px #ccc;
    background-color:#EEE;
}

 #locationButton{
    font-size: 35px;
    color: #0caee3;
 }

/* SHAPESHIFTER DEMO STYLES */

.credits {
  background: #DEDEDE;
  font-size: 13px;
  padding: 20px 0 13px 0;
  position: absolute; top: 10px; right: 10px; border: 0;
  text-align: center;
}

.credits img { height: 75px; width: 84px; padding: 4px; }

.container {
  outline: 1px dashed #CCC;
  float: left;
  margin: 0 0 0 2%;
  position: relative;
  width: 47%;
}

.container .object {
  border: 1px solid #777;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px #ccc;
  position: absolute;
  width: 170px;
}

.container .object .placeholder {
  width: 170px;
}

.container .object.ss-moving {
  cursor: move;
  z-index: 9999;
  opacity: .7;/*
  transform:rotate(0deg);
  -ms-transform:rotate(0deg);  IE 9 
  -moz-transform:rotate(0deg);  Firefox 
  -webkit-transform:rotate(0deg);  Safari and Chrome 
  -o-transform:rotate(0deg);  Opera 
  */
}

.container .object img { border-radius: 2px 2px 0 0; }

@media screen and (max-width: 1200px) {
  .container .object {
    width: 120px;
  }

  .container .object .placeholder {
    width: 120px;
  }
}

@media screen and (max-width: 800px) {
  .container .object {
    width: 90px;
  }

  .container .object .placeholder {
    width: 90px;
  }
}


