@import "../foundation-master/scss/foundation.scss";
@import "../foundation-master/scss/normalize.scss";

.greyBox{
	border: solid 1px #ccc;
	background-color:#EEE;
}

#floatingSidebar{/*
    position:fixed;
    top:50px;
    left:0;
    width:100px;
    height: 300px;*/
    border: solid 1px #ccc;
    background-color:#EEE;
}

#logo {
  float:left;
  margin: 10px 0 0 105px;
}

.cityTitle {
  float: left;
  font-size: 25px;
  margin: 13px 0 0 25px;
  //color: #006092;
}

#search {
  margin: 15px 0 0 75px;
  float:left;
}

input {
  //width:535px;
  width: 380px;
  height:60px;
}

#addButton{
  font-size: 40px;
  color: #555;
  float:left;
  margin: 25px 0 0 10px;

  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
}

#addButton:hover{
  color: #006092;
 }

#locationButton{
  font-size: 35px;
  color: #006092;
}

//put that sunofagun on top
.ui-autocomplete {
  position: absolute;
  cursor:default;
  z-index:30 !important;
}  


///////////////// GRIDSTER STYLES /////////////////


  .handle {
      border-bottom: 1px solid black;
      background-color: yellow
  }
  .gridster {
      position:relative;
      background-color: white;
      margin-left: 100px;
      clear:both;
      li {
        background-color: white;
        list-style-type: none; //remove bullet points
        //width: 150px;
        //height: 300px;
        //border: solid 2px black;
      }
  } 

  .gridster > * {
      margin: 0 auto;
      -webkit-transition: height .4s;
      -moz-transition: height .4s;
      -o-transition: height .4s;
      -ms-transition: height .4s;
      transition: height .4s;
  }

  .gridster .gs_w{
      z-index: 2;
      position: absolute;
  }

  .ready .gs_w:not(.preview-holder) {
      -webkit-transition: opacity .3s, left .3s, top .3s;
      -moz-transition: opacity .3s, left .3s, top .3s;
      -o-transition: opacity .3s, left .3s, top .3s;
      transition: opacity .3s, left .3s, top .3s;
  }

  .ready .gs_w:not(.preview-holder) {
      -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
      -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
      -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
      transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  }

  .gridster .preview-holder {
      z-index: 1;
      position: absolute;
      background-color: #fff;
      border-style: dashed;
      border-color: #ddd;
      //opacity: .2;
      //-webkit-box-shadow:  5px 5px 10px 1px rgba(0, 0, 0, .5);
      //box-shadow: 0 0 10px 10px;
  }

  .gridster .player-revert {
      z-index: 10!important;
      -webkit-transition: left .3s, top .3s!important;
      -moz-transition: left .3s, top .3s!important;
      -o-transition: left .3s, top .3s!important;
      transition:  left .3s, top .3s!important;
  }

  .gridster .dragging {
      z-index: 10!important;
      -webkit-transition: all 0s !important;
      -moz-transition: all 0s !important;
      -o-transition: all 0s !important;
      transition: all 0s !important;
  }

  /* Uncomment this if you set helper : "clone" in draggable options */
  /*.gridster .player {
    opacity:0;
  }*/